parameters:
	level: 6
	paths:
		- ./
	excludePaths:
		- node_modules/
		- src/php/OLERead.php
		- src/php/PhpExcelReader.php
		- src/php/SSP.php
		- test/
		- vendor/
	exceptions:
		reportUncheckedExceptionDeadCatch: false
	ignoreErrors:
		- '#Dead catch - (Throwable|muzieklijsten\\IndexException|muzieklijsten\\UndefinedPropertyException) is never thrown in the try block\.#'
	typeAliases:
		DBWaarde: 'scalar|null|\DateTime'
		DBInsertUpdateResult: '''
		object{
			actie: "insert"|"update",
			veranderd: bool,
			id?: int|string
		}
		'''
