// Project
@use "/src/scss/algemeen.scss";

// Libraries
@import url("datatables.net-bs5");
@import url("datatables.net-select-bs5");

body:not(.lijst-geselecteerd) .lijst-geselecteerd,
#nieuw .beheer-bestaand {
  display: none;
}

body {
  padding-top: 130px;
}

nav .container-fluid {
  padding-top: 10px;
}

#beschikbare-nummers-length {
  select {
    width: 80px;
    display: inline;
  }
  input {
    width: 200px;
    display: inline;
  }
}

.beschikbaar hr,
#result hr {
  border: 1px solid #333;
}

#modal-embed {
  input {
    min-width: 75%;
  }
  h5 {
    font-weight: bold;
  }
}

.hidden-row .bs-callout {
  margin: 0;
}

.nobreak {
  white-space: nowrap;
}

.resultaten-modal {
  tr:not(.heeft-stemmen) .heeft-stemmen {
    display: none;
  }

  tr:not(.collapsed) i.bi-plus-square,
  tr.collapsed i.bi-dash-square {
    display: none;
  }

  .hidden-row {
    padding: 0 !important;
  }

  .behandeld {
    background: #00ff00;
  }

  .table-striped > tbody > tr.vrijekeuze {
    background-color: hsl(327 78% 94% / 1);
  }

  .bs-callout {
    margin: 20px 0;
    padding: 20px 20px 1px 20px;
    border-left: 5px solid #eee;
  }

  .bs-callout p:last-child {
    margin-bottom: 0;
  }

  .bs-callout code,
  .bs-callout .highlight {
    background-color: #fff;
  }

  .bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
  }

  .text-center {
    text-align: center;
  }
}

.beheer-modal {
  &:not(.is-nieuw) .is-nieuw,
  &.is-nieuw .not-is-nieuw {
    display: none;
  }
}
