// Libraries
@use "@omroepgelderland/bootstrap-theme";
@use "bootstrap-icons/font/bootstrap-icons" with (
  $bootstrap-icons-font-dir: "bootstrap-icons/font/fonts"
);

body:not(.veld-telefoonnummer) .veld-telefoonnummer,
body:not(.veld-email) .veld-email,
body:not(.veld-woonplaats) .veld-woonplaats,
body:not(.veld-adres) .veld-adres,
body:not(.veld-uitzenddatum) .veld-uitzenddatum,
body:not(.veld-vrijekeus) .veld-vrijekeus,
body:not(.heeft-recaptcha) .heeft-recaptcha,
body:not(.is-actief) .is-actief,
body.is-actief .is-niet-actief,
body:not(.config-heeft-openai-key) .config-heeft-openai-key,
body.config-heeft-openai-key .not-config-heeft-openai-key,
body:not(.config-heeft-recaptcha-key) .config-heeft-recaptcha-key,
body.config-heeft-recaptcha-key .not-config-heeft-recaptcha-key {
  display: none;
}

.pointer {
  cursor: pointer;
}

table.dataTable.table-selectable tbody {
  tr {
    cursor: pointer;
  }
  > tr.selected > * {
    box-shadow: inset 0 0 0 9999px rgba(var(--bs-primary-rgb), 0.9);
    color: #fff;
  }
}

table.table.dataTable.table-striped
  > tbody
  > tr:nth-of-type(2n + 1).selected
  > * {
  // Geen stripe kleur voor geselecteerde rijen
  box-shadow: inset 0 0 0 9999px rgba(var(--bs-primary-rgb), 0.95);
}
