// Libraries
@import "bootstrap/dist/css/bootstrap.min.css";

body:not(.veld-telefoonnummer) .veld-telefoonnummer,
body:not(.veld-email) .veld-email,
body:not(.veld-woonplaats) .veld-woonplaats,
body:not(.veld-adres) .veld-adres,
body:not(.veld-uitzenddatum) .veld-uitzenddatum,
body:not(.veld-vrijekeus) .veld-vrijekeus,
body:not(.heeft-recaptcha) .heeft-recaptcha,
body:not(.is-actief) .is-actief,
body.is-actief .is-niet-actief,
.verborgen {
  display: none;
}
