// Project
@use "/src/scss/algemeen.scss";

// Libraries
@import url("datatables.net-bs5");
@import url("datatables.net-select-bs5");

body:not(.geladen),
body:not(.gestemd) .gestemd,
body.gestemd .not-gestemd,
body:not(.error) .error,
body.error .not-error,
body:not(.heeft-nummers-geselecteerd) .heeft-nummers-geselecteerd {
  display: none;
}

#nummers tbody tr {
  cursor: pointer;
}

.remark {
  padding-right: 0px !important;
}

input.postcode,
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"] {
  max-width: 10em;
}
input[type="number"] {
  max-width: 5em;
}

.privacyinfo {
  margin-bottom: 20px;
}

.keuze-annuleren {
  i {
    padding-top: 4px;
  }
}
