body:not(.geladen),
body:not(.gestemd) .gestemd,
body.gestemd .not-gestemd,
body:not(.max-ip-bereikt) .max-ip-bereikt,
body.max-ip-bereikt .not-max-ip-bereikt,
body:not(.error) .error,
body.error .not-error,
body:not(.heeft-nummers-geselecteerd) .heeft-nummers-geselecteerd {
    display: none;
}

table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
    cursor: pointer;
}

#nummers_length select {
    width: 80px;
    display: inline;
}

#nummers_filter input {
    width: 200px;
    display: inline;
}

.remark {
    padding-right: 0px !important;
}

input.postcode,
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"] {
    max-width: 10em;
}
input[type="number"] {
    max-width: 5em;
}

.privacyinfo {
    margin-bottom: 20px;
}
