.hiddenRow {
	padding: 0 !important;
}

.hand {
	cursor: pointer;
}

.behandeld {
	background: #ee7f01;
}

.bs-callout {
	margin: 20px 0;
	padding: 20px 20px 1px 20px;
	border-left: 5px solid #eee;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
	background-color: #fff;
}

.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}

.text-center {
	text-align:center;
}

body.admin {
	overflow: hidden;
}

body:not(.admin) .admin,
tr:not(.heeft-stemmen) .heeft-stemmen {
	display: none;
}

body {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
